.no-pad {
   padding: 0 !important;
}

.pad-1 {
   padding: 1px;
}

.pad-t-5 {
   padding-top: 5px;
}

.pad-t-10 {
   padding-top: 10px;
}

.pad-t-20 {
   padding-top: 20px;
}

.pad-t-25 {
   padding-top: 25px;
}

.pad-t-30 {
   padding-top: 30px;
}

.pad-t-40 {
   padding-top: 40px;
}

.pad-t-50 {
   padding-top: 50px;
}

.pad-t-60 {
   padding-top: 60px;
}

.pad-t-70 {
   padding-top: 70px;
}

.pad-t-100 {
   padding-top: 100px;
}

.pad-t-120 {
   padding-top: 120px;
}

.pad-t-150 {
   padding-top: 150px;
}

.pad-t-200 {
   padding-top: 200px;
}

.pad-t-250 {
   padding-top: 250px;
}

.pad-t-300 {
   padding-top: 300px;
}

.pad-t-350 {
   padding-top: 350px;
}

.pad-t-400 {
   padding-top: 400px;
}

.pad-b-5 {
   padding-bottom: 5px;
}

.pad-b-10 {
   padding-bottom: 10px;
}

.pad-b-20 {
   padding-bottom: 20px;
}

.pad-b-25 {
   padding-bottom: 25px;
}

.pad-b-30 {
   padding-bottom: 30px;
}

.pad-b-40 {
   padding-bottom: 40px;
}

.pad-b-50 {
   padding-bottom: 50px;
}

.pad-b-60 {
   padding-bottom: 60px;
}

.pad-b-65 {
   padding-bottom: 65px;
}

.pad-b-70 {
   padding-bottom: 70px;
}

.pad-b-100 {
   padding-bottom: 100px;
}

.pad-b-120 {
   padding-bottom: 120px;
}

.pad-b-150 {
   padding-bottom: 150px;
}

.pad-b-200 {
   padding-bottom: 200px;
}

.pad-b-250 {
   padding-bottom: 250px;
}

.pad-b-300 {
   /*padding-bottom: 300px;*/
   padding-bottom: 185px;
   
}

.pad-l-0 {
   padding-left: 0;
}

.pad-l-10 {
   padding-left: 10px;
}

.pad-l-25 {
   padding-left: 25px;
}

.pad-l-30 {
   padding-left: 30px;
}

.pad-l-40 {
   padding-left: 40px;
}

.pad-l-50 {
   padding-left: 50px;
}

.pad-l-60 {
   padding-left: 60px;
}

.pad-l-70 {
   padding-left: 70px;
}

.pad-l-100 {
   padding-left: 100px;
}

.pad-l-120 {
   padding-left: 120px;
}

.pad-l-150 {
   padding-left: 150px;
}

.pad-l-200 {
   padding-left: 200px;
}

.pad-r-10 {
   padding-right: 10px;
}

.pad-r-25 {
   padding-right: 25px;
}

.pad-r-30 {
   padding-right: 30px;
}

.pad-r-40 {
   padding-right: 40px;
}

.pad-r-50 {
   padding-right: 50px;
}

.pad-r-60 {
   padding-right: 60px;
}

.pad-r-70 {
   padding-right: 70px;
}

.pad-r-100 {
   padding-right: 100px;
}

.pad-r-120 {
   padding-right: 120px;
}

.pad-r-150 {
   padding-right: 150px;
}

.pad-r-200 {
   padding-right: 200px;
}

.pad-30 {
   padding: 30px;
}

.pad-40 {
   padding: 40px;
}

.pad-100 {
   padding: 100px;
}
